# Kaggle
Banking Dataset - Marketing Targets
Banking Dataset of different customers to predict if they will convert or not.

https://www.kaggle.com/datasets/prakharrathi25/banking-dataset-marketing-targets?resource=download

## 整理

### 背景

定期預金は、銀行にとって主要な収入源である。定期預金は、金融機関で保有される現金投資です。顧客の資金は、一定期間（期間）にわたって合意された金利で投資される。銀行は、電子メールマーケティング、広告、電話によるマーケティング、デジタルマーケティングなど、さまざまな方法で顧客に定期預金を販売する計画を持っている。

電話によるマーケティングは、現在でも最も効果的な方法の一つである。しかし、大規模なコールセンターが実際にこれらのキャンペーンを実行するために雇われているように、彼らは巨大な投資を必要とします。そのため、事前にコンバージョンする可能性の高い顧客を特定し、その顧客に対して電話で特別にターゲットを絞ることが重要である。

### 目標
顧客が定期預金に申し込むかどうかを予測すること。

### データについて

1 - 年齢 (数値)

2 - job : 職種 (カテゴリ: "admin.", "unknown", "unemployed", "management", "housemaid", "entrepreneur", "student",
「ブルーカラー"、"自営業"、"定年退職者"、"技術者"、"サービス業")

3 - marital : 配偶者の有無 (カテゴリー: "married", "divorced", "single"; 注: "divorced" は離婚または寡婦を意味する)

4 - education : 学歴 (カテゴリ: "unknown", "secondary", "primary", "tertiary")

5 - デフォルト：クレジットにデフォルトがあるか（バイナリ："yes", "no")

6 - 残高：年間平均残高、単位はユーロ（数値）

7 - 住居: 住宅ローンを持っているか？

8 - ローン: 個人的なローンを組んでいるか？

現在のキャンペーンの最後の接触に関連する。

9 - contact: 連絡の種類 (categorical: "unknown", "telephone", "cellular")

10 - day: 最終接触日(数字)

11 - month: 最終接触月（カテゴリ："jan", "feb", "mar", ..., "nov", "dec")

12 - 継続時間: 最後に接触した時間（秒） (数値)

その他の属性

13 - campaign: このキャンペーン期間中にこのクライアントに対して行われたコンタクトの数 (数値、最後のコンタクトを含む)

14 - pdays: 前回のキャンペーンでクライアントが最後に接触してから経過した日数（数値、-1はクライアントが前回接触していないことを意味します）。

15 - previous: このキャンペーンの前に行われた、このクライアントに対するコンタクトの数（数値）。

16 - poutcome: 前回のマーケティングキャンペーンの結果（カテゴリ："不明"、"その他"、"失敗"、"成功")

## コーディング

### とりあえず、思いのままに

In [1]:
import numpy as np
import pandas as pd
import pandas_profiling as pdp

In [19]:
df = pd.read_csv("data/Banking/train.csv", sep=";")

In [4]:
profile = pdp.ProfileReport(df)
# profileのみでも表示可能,to_widgets()の方がコンパクトでノートブック向き
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [18]:
y_col = "y"
X = df.drop(columns=y_col)
y = df[y_col]

In [25]:
df.query("default == 'yes'")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
79,55,services,divorced,secondary,yes,1,yes,no,unknown,5,may,208,1,-1,0,unknown,no
338,51,admin.,single,secondary,yes,-2,no,no,unknown,5,may,402,3,-1,0,unknown,no
419,33,technician,married,secondary,yes,72,yes,no,unknown,6,may,623,1,-1,0,unknown,no
458,33,blue-collar,single,secondary,yes,-60,no,no,unknown,6,may,243,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41562,71,retired,divorced,tertiary,yes,1236,yes,no,cellular,14,sep,335,4,-1,0,unknown,yes
44099,28,management,single,tertiary,yes,1414,yes,no,cellular,8,jul,294,1,521,1,failure,yes
44161,25,technician,single,tertiary,yes,160,no,yes,unknown,13,jul,151,1,-1,0,unknown,no
44302,31,services,single,secondary,yes,-248,no,no,unknown,27,jul,5,1,-1,0,unknown,no
44606,27,student,single,primary,yes,25,no,no,unknown,28,aug,8,1,-1,0,unknown,no

In [30]:
df["job"].value_counts()

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64